html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}
:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --main-text-color: #212121;
  --background-hero: #2f303a;
  --background-our-team: #f5f4fa;
  --background-footer-color: #2f303a;
  --btn-item-color: #f5f4fa;
  --text-btn-color: #ffffff;
  --logo-address-footer-color: #ffffff;
  --mail-tel-color: #757575;
  --text-description-color: #757575;
  --text-address-footer-color: rgba(255, 255, 255, 0.6);
}
/*============header-start================*/
.header {
  background-color: var(--background-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}
.header-link {
  text-decoration: none;
}
.header-link-logo-start {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-link-logo-end {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}
.main-header {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.menu-page {
  display: flex;
  margin-left: 93px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-page .menu-item + .menu-item {
  margin-left: 50px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-contacts {
  display: flex;
  margin-left: auto;
}
.menu-contacts .menu-item + .menu-item {
  margin-left: 50px;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mail-tel-color);
}
.current {
  color: var(--accent-color);
}
/*=============header-end===========*/
/*============main-start============*/
/*============section-hero-start=====*/
.hero {
  background: var(--background-hero);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 0px;
  margin-top: 0px;

  outline: 2px solid tomato;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-btn-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
/*============section-hero-end=====*/
/*==========section-features-company-start=====*/
.features-company {
  background: var(--background-color);
}
.list-features {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.heading-feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.description-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*==========section-features-company-end=====*/
/*==========section-our-work-start=====*/
.heading-our-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
.list-work {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  /*==========section-our-work-end=====*/
}
/*==========section-our-team-start=====*/
.our-team {
  background: var(--background-our-team);
}
.heading-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 188px;
  margin-bottom: 50px;

  outline: 2px solid tomato;
}
.list-team {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.employee-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.activity-employee {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--mail-tel-color);
  margin-top: 0px;
  margin-bottom: 30px;
}
/*==========section-our-team-end=====*/
/*==========section-footer-start=====*/
.footer {
  background: var(--background-footer-color);
}
.footer-link {
  display: block;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-link-logo-start {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link-logo-end {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-address-footer-color);
}
.list-address {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.list-address-item-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-address-footer-color);
  margin-bottom: 9px;
}
.list-address-item-mail {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-address-footer-color);
  margin-bottom: 9px;
}
.list-address-item-tel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-address-footer-color);
  padding-bottom: 60px;
}
/*==========section-footer-end=====*/
/*----------portfolio--------------*/
/*========section-projeсts-start====*/
.list-btn {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  padding-left: 0px;
}
.list-btn .item + .item {
  margin-left: 8px;
}
.list-btn-item {
  background: var(--btn-item-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.list-btn-item:hover,
.list-btn-item:focus {
  background: var(--accent-color);
  color: var(--text-btn-color);
}
.card-list {
}
.card-list-projects {
  width: 370px;
  margin-right: 25px;
  margin-bottom: 30px;

  background-color: tomato;
}
.list-projeсts {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-list-projects:nth-child(3n) {
  margin-right: 0px;
}
.heading-item-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-top: 20px;
  margin-bottom: 4px;
}
.description-item-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.link-item-project {
  text-decoration: none;
}
/*========section-projeсts-end====*/
